<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form>
    <p><
        <label for="name"></label>
        <input type="text" name="name">
    </p>
    
    <p>
        <label for="value">Value</label>
        <input type="number" name="value">

    </p>
    <input type="submit" value="Submit">
</form>

</body>
</html>