<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script><script type="text/javascript"></script>

    <title>{% block title %}default_title{% endblock %}</title>
    <!-- includse css file via href, also needs the config.add_static_view entry in __init__ -->
    <!-- The same technique can be used to link javascript files iin the end of the body -->
</head>
<body>
{% block body %}{% endblock %}

    <nav>
        <button><a href="{{request.route_url('home') }}">To The Home Page</a></button>
        {% if request.authenticated_userid %}
        <button><a href="{{request.route_url('new') }}">Add a new entry</a></button>
        <button><a href="{{request.route_url('logout') }}">Log Out</a></button>
        {% else %}
        <button><a href="{{request.route_url('login') }}">Log In</a></button>
        {% endif %}
    </nav>
</body>
<script type="text/javascript" src="{{ request.static_url('learning_journal:static/app.js') }}"></script>
</html>