<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}default_title{% endblock %}</title>
    <!-- includse css file via href, also needs the config.add_static_view entry in __init__ -->
    <!-- The same technique can be used to link javascript files iin the end of the body -->
</head>
<body>
{% block body %}{% endblock %}

    <nav>
        <button>
        <a href="{{
        request.route_url('home') }}">To The Home Page</a>
        </button>
         <button>
        <a href="{{
        request.route_url('new') }}">Add a new entry</a>
        </button>
    </nav>
</body>
</html>